.btn-primary {
    color: #fff;
    font-weight: 600 !important;
}

.menu {
    font-size: 16px;
}

.badge.badge-sm {
    background: var(--fallback-su, oklch(var(--su) / .13));
    color: var(--fallback-su, oklch(var(--su)/var(--tw-bg-opacity)));
    border: 1px solid var(--fallback-su, oklch(var(--su)/.13));
    font-weight: 600;
    font-size: 14px;
    padding: 15px 10px;
}

.badge.badge-ghost {
    background: transparent;
    color: var(--tw-text-opacity) var(--tw-text-color);
    font-weight: 600;
    font-size: 14px;
    padding: 15px 10px;
}