{% include "header.html" %}

<!-- Page Header-->

<header
  class="masthead min-vh-100 d-flex align-items-end position-relative"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="hero-overlay"></div>

  <div class="container position-relative px-4 px-lg-5 pb-6">
<div class="row gx-4 gx-lg-5">
      <div class="col-md-8 col-lg-6">
        <div class="site-heading text-start mb-4">
  <h1 class="mb-3">Private Dining in The Hamptons</h1>
  <span class="subheading">
    Welcome to the pinnacle of private dining in The Hamptons
  </span>
</div>
        <div class="custom-buttons">
            <a href="{{ url_for('contact') }}" class="btn-contact">Contact</a>
            <a href="tel:+19178547836" class="btn-call">&#128222; 917-854-7836</a>
          </div>
      </div>
    </div>        
  </div>
</header>
  {% include "footer.html" %}
<!-- Main Content-->



